<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <a type="button" class="btn btn-primary" th:href="@{http://localhost:8787/student/journal}">&larr; Назад</a>
            <br/>
            <h1 th:text="${student.name} + ' ' + ${student.surname}"></h1>
        </button>
    </nav>
<br/>
<table>
    <tr th:each="lesson : ${lessons}">
        <td><a class="list-group-item list-group-item-action"
               href="#"
               th:text="${lesson.description}"></a>
        </td>
        <td th:each="appraisal : ${appraisals}">
            <a class="list-group-item list-group-item-action"
               href="#"
               th:text="${appraisal.value}"
               th:unless="${appraisal.lessonId != lesson.id}">
            </a>
        </td>
    </tr>
</table>
</body>
</html>