<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<h1 th:text="${student.name} + ' ' + ${student.surname}"></h1>

<table>
    <thead>
    <tr>
        <th> Предмет</th>
        <th> Оценки </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${lessons.empty}">
        <td colspan="2"> Нету Оценок</td>
    </tr>

    <tr th:each="lesson : ${lessons}">
        <td><a class="list-group-item list-group-item-action" th:href="@{http://localhost:8787/}"
               th:text="${lesson.description}"></a></td>
    </tr>

    <tr th:each="appraisal : ${appraisals}">
        <td><a class="list-group-item list-group-item-action" th:href="@{http://localhost:8787/}"
               th:text="${appraisal.value}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>