<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <a type="button" class="btn btn-primary" th:href="@{http://localhost:8787/}">&larr; Назад</a>
            <br/>
            <h1>Студенты</h1>
        </button>
    </nav>
</div>
<br/>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Адрес</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${studentList.empty}">
        <td colspan="2"> Нету студентов</td>
    </tr>
    <tr th:each="student : ${studentList}">
        <td><a class="list-group-item list-group-item-action" th:href="@{http://localhost:8787/student(id=${student.id})}"
               th:text="${student.name}"></a></td>
        <td><a class="list-group-item list-group-item-action" th:href="@{http://localhost:8787/student(id=${student.id})}"
               th:text="${student.surname}"></a></td>
        <td><a class="list-group-item list-group-item-action" th:href="@{http://localhost:8787/student(id=${student.id})}"
               th:text="${student.age}"></a></td>
        <td><a class="list-group-item list-group-item-action" th:href="@{http://localhost:8787/student(id=${student.id})}"
               th:text="${student.address}"></a></td>
    </tr>
    </tbody>
</table>

</body>
</html>